<div class='container-fluid'>
    <div class='row center-col'>
      <div class='offset-md-4 col-md-4'>
          <h1> Welcome to Tacolator3.0 </h1>
      </div>
    </div>
 <div class='offset-md-3 col-md-9 above-row-spacing'>
    <div class='row center-col'>
        <div class='col-md-2 picture-spacing'>
            <%=link_to(image_tag("TacoBellSoftTaco.jpg", class: 'image-responsive'),
            size:"10x10", alt: "example image")%>
         </div>
         <div class='col-md-2 picture-spacing'>
             <%=link_to(image_tag("Tbellcrunchy1.JPG", class: 'image-responsive'),
             size:"10x10", alt: "example image")%>
        </div>
        <div class='col-md-2 picture-spacing'>
            <%=link_to(image_tag("cheesylocos.jpg", class: 'image-responsive'),
            size:"10x10", alt: "example image")%>
        </div>
     </div>
 </div>
 <div class='offset-md-5 col-md-4 above-row-spacing'>
    <div class='row center-col center-buttons'>
        <div class='col-sm-1 center-buttons'>
            <h6>
            Soft Taco
            </h6>
         </div>
         <div class='col-sm-1 center-buttons'>
             <h6>
             Hard Taco
            </h6>
        </div>
        <div class='col-sm-1 center-buttons'>
             <h6>
            Cheesy Locos Tacos
            </h6>
        </div>
     </div>
 </div>
 <div class='offset-md-3 col-md-9 above-row-spacing'>
    <div class='row center-col'>
        <div class='col-md-2 picture-spacing'>
            <%=link_to(image_tag("TacoBellSoftTaco.jpg", class: 'image-responsive'),
            size:"10x10", alt: "example image")%>
         </div>
         <div class='col-md-2 picture-spacing'>
             <%=link_to(image_tag("Tbellcrunchy1.JPG", class: 'image-responsive'),
             size:"10x10", alt: "example image")%>
        </div>
        <div class='col-md-2 picture-spacing'>
            <%=link_to(image_tag("cheesylocos.jpg", class: 'image-responsive'),
            size:"10x10", alt: "example image")%>
        </div>
     </div>
 </div>
 <div class='offset-md-3 col-md-9 above-row-spacing'>
    <div class='row center-col'>
        <div class='col-md-2 picture-spacing'>
            <%=link_to(image_tag("TacoBellSoftTaco.jpg", class: 'image-responsive'),
            size:"10x10", alt: "example image")%>
         </div>
         <div class='col-md-2 picture-spacing'>
             <%=link_to(image_tag("Tbellcrunchy1.JPG", class: 'image-responsive'),
             size:"10x10", alt: "example image")%>
        </div>
        <div class='col-md-2 picture-spacing'>
            <%=link_to(image_tag("cheesylocos.jpg", class: 'image-responsive'),
            size:"10x10", alt: "example image")%>
        </div>
     </div>
</div>
